body{
    counter-reset:section
}

h2 {
    counter-reset:sub-section
}

h3{
    counter-reset: detail
}

h4{
    counter-reset: detail
}

h2:before {
    counter-increment:section;
    content:counter(section) ". ";
}

h3:before {
    counter-increment:sub-section;
    content:counter(section) "." counter(sub-section) ". ";
}

h4:before {
    counter-increment:detail;
    content:counter(section) "." counter(sub-section) "." counter(detail) ". ";
}

h5:before {
    counter-increment:detail;
    content:counter(section) "." counter(sub-section) "." counter(detail) ". ";
}