<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page_title}}</title>
    {% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"  crossorigin="anonymous">
	<script src="{% static 'js/bootstrap.bundle.js'%}"  crossorigin="anonymous"></script>
    <link href="{% static 'icons/bootstrap-icons.css' %}" rel="stylesheet">
    {% block heading_content %}
    {% endblock %}
</head>
<body>
{% csrf_token %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <img src="/static/icons/house.svg" class="fs-4">
                             <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img class="fs-4" src="{% static 'icons/speedometer2.svg' %}"></img> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/dashboard/Sinewave" class="nav-link px-0">
                                    <img class="fs-4" src="{% static 'icons/soundwave.svg' %}"></img>
                                    <span class="d-none d-sm-inline">Sine Wave</span>  </a>
                            </li>
                            <li>
                                <a href="/dashboard/ECG" class="nav-link px-0">
                                    <img class="fs-4" src="{% static 'icons/heart-pulse-fill.svg' %}"></img>
                                    <span class="d-none d-sm-inline">ECG </span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse"class="nav-link px-0 align-middle">
                            <img class="fs-4" src="{% static 'icons/table.svg' %}"></img> <span class="ms-1 d-none d-sm-inline">Tabulated View</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/tabulated/sinewave" class="nav-link px-0">
                                    <img class="fs-4" src="{% static 'icons/soundwave.svg' %}"></img>
                                    <span class="d-none d-sm-inline">Sinwave</span> 1</a>
                            </li>
                            <li>
                                <a href="/tabulated/ECG" class="nav-link px-0">
                                    <img class="fs-4" src="{% static 'icons/heart-pulse-fill.svg' %}"></img>
                                    <span class="d-none d-sm-inline">ECG</span> 1</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <img class="fs-4" src="{% static 'icons/grid-fill.svg' %}"></img>
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Fourier Transforms</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/fourier/sinewave" class="nav-link px-0">
                                    <img class="fs-4" src="{% static 'icons/soundwave.svg' %}"></img>
                                    <span class="d-none d-sm-inline">Sine wave</span> </a>
                            </li>
                            <li>
                                <a href="/fourier/ECG" class="nav-link px-0">
                                    <img class="fs-4" src="{% static 'icons/heart-pulse-fill.svg' %}"></img>
                                    <span class="d-none d-sm-inline">ECG</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/login" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Login</span> </a>
                    </li>
                    <li>
                        <a href="API" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">API</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4 px-sm-2 px-0 fixed-bottom">
                    {% if user.is_authenticated %}
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'images/add:user.profile_picture' %}" alt="{{ user.username }}" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Hello, {{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/profile/settings">Settings</a></li>
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/signout">Sign out</a></li>
                    </ul>
                    {% else %}
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/person-circle.svg' %}" alt="Anonymous" width="30" height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">Hello, Anonymous</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                            <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col py-3">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
<footer>

    <div class = "bd-dark text-white text-center">
        Karthik Thovinakere -©{% now 'y' %} All Rights Reserved.
</footer>
</html>