<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ django|title }}</title>
    {% load static %}
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" crossorigin="anonymous">
    <script src="{% static 'js/bootstrap.bundle.js' %}"
            crossorigin="anonymous"></script>
    <link href="{% static 'icons/bootstrap-icons.css' %}" rel="stylesheet" crossorigin="anonymous" type="text/css">
    <link href="{% static 'css/inversion.css' %}" rel="stylesheet" crossorigin="anonymous" type="text/css">
    {% block heading_content %}
    {% endblock %}
</head>
<body>
{% csrf_token %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <img class="fs-4 inv" src="{% static 'icons/houses-fill.svg' %}"/>
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img class="fs-4 inv" src="{% static 'icons/speedometer2.svg' %}"/> <span
                                class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/dashboard/sinewave" class="nav-link px-0">
                                    <img class="fs-4 inv" src="{% static 'icons/soundwave.svg' %}"/>
                                    <span class="d-none d-sm-inline">Sine Wave</span></a>
                            </li>
                            <li>
                                <a href="/dashboard/ecgsignal" class="nav-link px-0">
                                    <img class="fs-4 inv" src="{% static 'icons/heart-pulse-fill.svg' %}"/>
                                    <span class="d-none d-sm-inline">ECG Signal</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <img class="fs-4 inv" src="{% static '/icons/table.svg' %}"/> <span
                                class="ms-1 d-none d-sm-inline">Tabulated View</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/tabulation/sinewave" class="nav-link px-0">
                                    <img class="fs-4 inv" src="{% static 'icons/soundwave.svg' %}"/>
                                    <span class="d-none d-sm-inline">Sine Wave</span></a>
                            </li>
                            <li>
                                <a href="/tabulation/ecgsignal" class="nav-link px-0">
                                    <img class="fs-4 inv" src="{% static 'icons/heart-pulse-fill.svg' %}"/>
                                    <span class="d-none d-sm-inline">ECG Signal</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <img class="fs-4 inv" src="{% static 'icons/grid-fill.svg' %}"/> <span
                                class="ms-1 d-none d-sm-inline">Fourier Transform</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/fourier/sinewave" class="nav-link px-0">
                                    <img class="fs-4 inv" src="{% static 'icons/soundwave.svg' %}"/>
                                    <span class="d-none d-sm-inline">Sine Wave</span></a>
                            </li>
                            <li>

                                <a href="/fourier/ecgsignal" class="nav-link px-0">
                                    <img class="fs-4 inv" src="{% static 'icons/heart-pulse-fill.svg' %}"/>
                                    <span class="d-none d-sm-inline">ECG Signal</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/accounts/login" class="nav-link px-0 align-middle">
                            <img class="fs-4 inv" src="{% static 'icons/people-fill.svg' %}"/> <span
                                class="ms-1 d-none d-sm-inline">Login</span> </a>
                    </li>
                    <li>
                        <a href="/api" class="nav-link px-0 align-middle">
                            <img class="fs-4 inv" src="{% static 'icons/ethernet.svg' %}"/> <span
                                class="ms-1 d-none d-sm-inline">API</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4 px-sm-2 px-0 fixed-bottom">
                    {% if user.is_authenticated %}
                        <a href="#"
                           class="d-flex align-items-center text-white text-decoration-none dropdown-toggle "
                           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'images/user_placeholder.svg' %}" alt="{{ user.username }}"
                                 width="30" height="30"
                                 class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">Hello, {{ user.username }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="/accounts/settings">Settings</a></li>
                            <li><a class="dropdown-item" href="/accounts/">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/accounts/logout">Sign out</a></li>
                        </ul>
                    {% else %}
                        <a href="#"
                           class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                           id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/person-circle.svg' %}" alt="Anonymous" width="30" height="30"
                                 class="rounded-circle inv">
                            <span class="d-none d-sm-inline mx-1">Hello Anonymous</span>
                        </a>
                         <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="/accounts/login">Login</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col py-3">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
<footer>
    <div class="bg-dark text-white text-center">
        karthik Thovinakere - &copy;{% now 'Y' %}
    </div>
</footer>
{% block scripts %}
{% endblock %}
</html>