<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/" method="get">
    <caption>Registration Form</caption>
    <table>
        <thead>
        <tr>
            <td colspan="6">
                Your Information
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                First Name
            </td>
            <td colspan="5">
                <input type="text" size="50" name="FirstName">
            </td>
        </tr>
        <tr>
            <td>
                Last Name
            </td>
            <td colspan="5">
                <input type="text" size="50" name="LastName">
            </td>
        </tr>
        <tr>
            <td>
                Address #1
            </td>
            <td colspan="5">
                <input type="text" size="50" name="Address1">
            </td>
        </tr>
        <tr>
            <td>
                Address #2
            </td>
            <td colspan="5">
                <input type="text" size="50" name="Address2">
            </td>
        </tr>
        <tr>
            <td>
                City
            </td>
            <td>
                <input type="text" size="20" name="City">
            </td>
            <td>
                Province
            </td>
            <td>
                <input type="text" size="2" name="Province">
            </td>
            <td>
                Postal Code
            </td>
            <td>
                <input type="text" size="7" name="PostalCode">
            </td>
        </tr>
        <tr>
            <td>
                Country
            </td>
            <td>
                <select>
                    <option selected>
                        Country
                    </option>
                    <option>Canada</option>
                    <option>USA</option>
                    <option>EU</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
</body>
</html>